.Produto {
  border-radius: 15px;
  padding-block: 5px;

  text-align: center;

  font-size: 13px;

  td {
    padding-inline: 5px;
  }
}

.ImagemNome {
  display: flex;
  align-items: center;

  img {
    width: 150px;
    margin-right: 10px;
  }
}

.PrecoProduto {
  grid-area: precoIndividual;
}

.CelulaQuantidade {
  grid-area: qtd;
}

.ContadorQuantidade {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 20px;

  button {
    width: 35px;
    height: 35px;
    padding: 0;
    cursor: pointer;
  }
}

.BtnRemover {
  button {
    padding: 10px;
    border-radius: 15px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1175px) {
  .Produto {
    span {
      display: none;
      align-items: center;
    }
  }
}

/* PRIMEIRA QUEBRA NA LINHA */
@media only screen and (max-width: 1175px) {
  .Produto {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    grid-template-areas:
      ". imagemNome ."
      "qtd precoIndividual precoTotal"
      "btnRemover btnRemover btnRemover";
    gap: 10px;

    padding: 10px;
    border: 1px solid black;

    td {
      &:first-child {
        grid-area: imagemNome;
      }
    }
  }

  .ImagemNome {
    img {
      max-width: 140px;
    }
  }

  .CelulaQuantidade {
    display: grid;
    gap: 15px;

    margin-block: 15px;
  }
  .PrecoTotal {
    grid-area: precoTotal;
  }
  .BtnRemover {
    grid-area: btnRemover;
  }
}

/* SEGUNDA QUEBRA NA LINHA */
@media only screen and (max-width: 1040px) {
  .ImagemNome {
    flex-direction: column;
    img {
      margin-right: 0;
    }
  }

  .ContadorQuantidade {
    button {
      width: 25px;
      height: 25px;
    }
  }
}

/* MOBILE */
@media only screen and (max-width: 891px) {
  .Produto {
    font-size: 13px;
  }
}
