.UserLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  background-color: var(--primary-color);

  padding: 60px;

  & > :first-child {
    place-self: center;
  }
}
.Logo {
  width: 300px !important;
  margin-inline: auto;
  margin-top: 30dvh;
}

@media only screen and (max-width: 768px) {
  .UserLayout {
    grid-template-columns: 1fr;
  }
  .Logo {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .UserLayout {
    padding: 0;
    overflow: auto;
    padding: 20px 20px 15vh;

    align-items: start;
  }
}
